.card 
{
margin: 50px;
padding: 300px
}
.card .image
{
    margin: 50px;
    padding: 300px

}
.card .image ul
{

}
.card .image ul i
{

}
.card .image img
{

}
.card .image .date_time_view
{

}
.card .image .date_time_view p
{
    
}
.card .title
{
font-size: 50pt
}
.card .title p{

}
